amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.25
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.4
django-celery==3.2.1
djangorestframework==3.6.3
idna==2.6
kombu==3.0.37
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3
pytz==2017.2
redis==2.10.6
requests==2.18.4
urllib3==1.22
python-decouple
gunicorn
whitenoise